body{
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 936px;
    height: 626px;
    border-radius: 50px;
    background: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
}

.game-board{
    width: 700px;
    height: 100%;
}

.pumpkin{
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    background: url("../img/pumpkin.png");
    background-size: cover;
    background-position: center;
}

.pumpkin-1{
    top: 70px;
    left: 120px;
}

.pumpkin-2{
    top: 70px;
    right: 120px;
}

.pumpkin-3{
    bottom: 70px;
    left: 120px;
}

.pumpkin-4{
    bottom: 70px;
    right: 120px;
}

.pumpkin-5{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
